@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway',sans-serif;
    font-size: 15px;
    min-width: auto;
}
a{
    color:#fff;
}

p{
    line-height: 1.5;
}

.blue-bg{
    background: #4D636F;
    color: #fff;
}
.white-bg{
    background: #fff;
    color: #000;
}

.dark-blue-bg{
    background: #303E45;
    color: #fff;
}



/*HEADER*/
.header{
    height: 50px;
    background: #4D636F;
    position: sticky;
    left:0;
    top:0;
    z-index: 9999;
/*    padding-right: 20px;*/
/*    padding: 15px 25px 15px 10px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.header items{
    align-items: center;
}
.header li{
    display: inline-block;
}
.header span{
    padding:18px 22px 16px;
    font-size: 1.1em;
    color: #fff;
/*    display: inline-block;*/
    margin-left: 0;
/*    height:50px;*/
/*    line-height: 50px;s*/
}

.logo{
    padding: 15px 22px 15px 20px;
    height: 49px;
    margin-right: 0;
}
.header i{
    margin-right: 15px;
    font-size: 18px;
}
.header ul li:hover{
    color:#000;
}

.header span:hover{
    background: #fff;
    color:#000;
    cursor: pointer;
}
.header img-div{
/*    margin: 15px 0;*/
}
.img-div img{
    margin: 14px 20px;
}
/*HEADER*/

/*CONTAINER*/
.container{
/*    padding: 2% 1%;*/
    background: #F5F7F8;
}
/*
.left-part{
    width: 25%;
}
.center-part{
    width:55%;
}
.right-part{
    width:16%;
}
*/

.header .radius,
.container .radius{
    border-radius: 100%;
}
.container{
    display: flex;
/*    width: 100%;*/
/*
    grid-template-columns: 3fr 6fr 2fr;
    grid-gap: 1rem;
*/
    padding: 0 1%;
    justify-content: space-between;
    padding-bottom: 40px;
    
}
.container left-part{
    width: 25%;
    justify-content: flex-start;
    
}
.container right-part{
    width:16%;
    justify-content: flex-end;
    
}
.container center-part{
    justify-content:center;
    width:55%;
/*    align-self: center;*/
}
.container>div{
    background: #F5F7F8;;
/*    margin: 20px 0;*/
    
}
.right-part>*,
.center-part>*,
.div-p{
    padding: 15px;
/*    margin:20px 0;*/
    border-radius: 4px;
/*    border: solid 2px #000;*/
/*    border: 2px 0 2px #000;*/
    background: #FFF;
    box-shadow: 0 0 5px #aaa;
}

/*CONTAINER*/

/*LEFT PART*/
.div-p1{
    border-radius: 4px;
/*    border: solid 2px #000;*/
/*    border: 2px 0 2px #000;*/
    background: #FFF;
    box-shadow: 0 0 5px #aaa;
}
.left-part>*{
    margin: 20px 7.5px 0 0;
    border-radius: 4px;
/*    border: solid 2px #000;*/
}
.left-part>*{
    margin-bottom: 1rem;
    
    
}
.nav-left a,
.nav-left p{
    display: block;
    padding: 10px;
    
}
.fa-right{
    margin-right: 20px;
}
.photo-grid{
/*    padding: 1rem;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 10px;
    
/*    grid-gap: 1rem;*/
}
.photo-grid img{
    align-content: center;
    margin-bottom: 10px;
    
}
.p-1{
    padding:10px 0;  
}
.my-profile{
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

.heading{
    font-size: 1.2rem;
    font-weight: 500;
}


/*LEFT PART*/


/*CENTER PART*/

.center-part>*{
    margin: 20px 7.5px 0;
}

.flex-div .profile-img{
    margin: 10px auto 20px;
    border-radius: 100%;
/*    align-content: center;*/
/*    border-bottom:  solid 1px #000;*/
}
.div-border{
    border-bottom:  solid 1px #eee;
}
.flex-div{
    display: flex;
    
}

.placeholder{
    padding: 8px 15px;
    display: block;
    width: 100%;
    margin-bottom: 15px;
/*    border-color: #aaa;*/
}
.social{
    color: #666;
    margin-bottom: 20px; 
}


.btn-span{
    margin-right: 7px;
}
.btn{
    padding:9px 16px;
    border:none;
    color:white
}
h2{
    font-size: 1.3rem;
    font-weight: 500;
    display: inline-block;
    padding: 15px;
/*    line-height: 200px;*/
}
.prof{
    padding-bottom: 30px;
    
}
.prof-p{
    padding: 15px 0;
}
.flex-div-item{
    display: flex;
    justify-content: space-between;
}
.flex-div item:first-child{
    align-self: flex-start;
/*    padding-bottom: 15px;*/
}
.flex-div item:last-child{
    align-self: flex-end;
/*    padding-bottom: 15px;*/
}
.btn-img{
    margin-top: 15px;
}
.have-you{
    padding: 20px 0 15px;
}

/*CENTER PART*/


/*RIGHT PART*/

.right-part>*{
    margin: 20px 0 0 7.5px;
}

.events{
    padding-bottom: 15px;
    text-align: center;
}
.flex-div-cen{
    display: flex;
/*    justify-content: flex-end;*/
}
.flex-div-cen img{
/*    margin: 15px;*/
}
.holiday{
    padding: 15px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}

.friday{
    padding:0 0 15px ;
    text-align: center;
    font-size: 1rem;
}
.info{
    color:#000;
    width: 100%;
}
.jane{
    font-size: 1.1rem;
}
.jane-img{
    margin: 0 auto;
}
.green-bg{
    background: #94CF96;
    color: #fff;
}
.red-bg{
    background: #FF6666;
    color: #fff;
}
.flex-box{
    display: flex;
    height:36px;
}
.flex-box button:first-child{
    align-items: center;
    height:36px;
    width: 95px;
    text-align: center;
    line-height: 36px;
    border: none;
}
.flex-box button:last-child{
    align-self: flex-end;
    height:36px;
    width: 95px;
    text-align: center;
    line-height: 36px;
    border: none;
}
.ads{
    width: 225px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
/*    line-height: 85px;*/
    
}
.ads item{
   
}
.bug{
    height:135px;
    font-size: 34px;
    text-align: center;
    display: flex;
    justify-content: center;
/*    line-height: 220px;*/
}
.bug span{
    
    align-self: center;
}
.btn-hover:hover,
.btn-hover li:hover{
    background: #aaa;
    color:#000;
    cursor: pointer;
}
.hey{
    background: #DFE5E8;
    border-radius: 4px;
}
.hey-cross{
    padding: 10px 15px;
    height:35px;
    background: #BECBD2;
    border-top-right-radius: 4px;
    text-align: center;
}
.hey-div{
    display: grid;
    grid-template-columns: 6fr 1fr;
}
.p-hey{
    padding: 20px   0  15px 15px; 
    font-weight: bold;
}
.people{
    padding: 0 0 20px 15px;
}
.flex-time{
    display: flex;
    justify-content: space-between;
}
.interests li{
    display: inline-block;
    padding: 1px 7px;
    background: #303E45;
    margin-bottom: 5px;
    
}
.interests li a{
    font-size: 13px;
}
.ptag-int{
    margin-bottom: 20px;
}
.radius{
    border-radius: 100%;
}

/*RIGHT PART*/

/*FOOTER*/
.footer{
    width:100%;
    display: flex;
    flex-direction: column;
/*    align-items: flex-end;*/
}
.section-1{
    height: 80px;
    align-self: stretch;
    
}
.section-1 p{
    line-height: 80px;
    font-size: 1.2rem;
    padding-left: 15px;
    font-weight: 500;
}
.section-2{
    height: 50px;
    align-self: stretch;
    padding-left: 15px;
}
.section-2 a{
    text-decoration: underline;
    font-weight: 500;
    line-height: 50px;
    
}

.grey{
    color:#777;
}
.profile{
    padding-top: 15px;
}
/*FOOTER*/